<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Property</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://unpkg.com/boxicons@2.1.3/css/boxicons.min.css" rel="stylesheet">

<body>
    <div id="app">
        <div class="container mt-5">

            <div class="row justify-content-center m-2">
                <div class="col-md-6">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-body">

                            <div class="text-start">
                                <h2 class="card-title">Watch Property</h2>
                                <small>Watch property in vue.js</small>
                            </div>
                            <hr class="shadow p-1 my-3 mb-5 bg-success rounded">

                            <div class="card shadow p-3 mb-5 bg-light rounded">
                                <form>
                                    <input v-model="email" type="text" class="form-control mx-2"
                                        placeholder="Enter Email Address">
                                    <small v-if="email && isEmail" class="text-success mx-2">Email is Valid.</small>
                                    <small v-if="email && !isEmail" class="text-danger mx-2">Email must be Valid.</small>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>

</html>